.env
bun.lockb
node_modules
packages/app/node_modules
packages/db/node_modules
packages/api/node_modules
apps/nextjs/.next
apps/nextjs/.tamagui
apps/nextjs/tamagui_old

packages/db/node_modules
database

