.env
.turbo
.devcontainer
.next/cache
.DS_Store

node_modules
database
packages/app/node_modules
packages/db/node_modules
packages/api/node_modules
packages/ui/node_modules
packages/db/seed/seed.json
packages/db/seed/seed_backup.json
packages/ui/tsconfig.tsbuildinfo

apps/nextjs/.next
apps/nextjs/.tamagui
apps/nextjs/tamagui_old