.env
.turbo
.devcontainer
bun.lockb
node_modules
packages/app/node_modules
packages/db/node_modules
packages/api/node_modules
apps/nextjs/.next
apps/nextjs/.tamagui
apps/nextjs/tamagui_old

packages/db/seed/seed.json

packages/db/node_modules
database

packages/ui/node_modules
packages/ui/tsconfig.tsbuildinfo
