@font-face {
    font-family: 'VosqueStyleH';
    src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
  }
@font-face {
  font-family: 'VosqueStyleB';
  src: url('./fonts/NotoSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'VosqueStyleHack';
  src: url('./fonts/Montserrat-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'VosqueStyleBBold';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
}